body {
	          color: #336699;
}

p {
	color: #336699;
}
input{
	 color: #336699;
	 height: 25px;
}

button {
	    background-color: #336699;
			height: 25px;
			color: white;
			border: none;
	    color: white;
	    padding:2px 10px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 14px;
	}
	.button_reset {
		    background-color: red;

				color: white;
				border: none;
		    color: white;
		    padding:2px 10px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
								height: 25px;
		}

button:hover{
	background-color: red;
	color: #336699;
	color: white;
	padding:2px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

input{
	background-color: white;
	height: 25px;
	color: #336699;
	padding:2px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

input:focus {
    background-color: #336699;
			color: white;
}

 select {
    border-radius: 0;
    background: #336699;
    height: 32px;
    padding: 5px;
    border: 0;
    font-size: 16px;
		text-indent: 5px;
		text-align-last: center;
		color:white;
    line-height: 1;
    -webkit-appearance: none;
    width: 30px;
   }
