<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./Project_2.css">
<script src="./bundle.js"></script>
	<head>
		<title>Project_2</title>
	</head>
	<body>
	<div class="input">
	<p>Welcome to my second project in HTML, CSS, JavaScript.</p>
	<p>Please enter two numbers and choose operand to concatenate result</p>
		<div>
		<input id="input_1" type="text" class ="input">
		<select id="select" class="input">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<input id="input_2" type="text">
		<span>=</span>
		<input id="input_3" type="text">
		<button id="button_submit" class = "button" type="button" >Click!</button>
		<button id="button_reset" class = "button_reset" type="button"  onclick="reset()">Reset</button>
		</div>
	</body>
</html>
